    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand logo" href="/">Nametag</a> <div class="brand motto">&#183; Social Domains</div>
          <div class="nav-collapse pull-right">
            <ul class="nav">
              <% if session[:user_id].blank? %>
              <li><%= link_to "Signup", signup_path()  %></li>
              <li><%= link_to "Signin", signin_path()  %></li>
              <% else %>
              <li><%= link_to session[:username], users_path() %></li>
              <li><%= link_to "Domains", domains_path() %></li>
              <li><%= link_to "Profile", users_path() %></li>
              <li><%= link_to "Signout", signout_path() %></li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

